.new-tweet {
    border: 1px solid lightgrey;
    border-radius: 5px;
    background-color: #eee;
    align-content: center;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
}

.new-tweet textarea {
    width: 100%;
    resize: vertical;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
}

.new-tweet input {
    margin-bottom: 10px;
}

.new-tweet .counter {
    font-size: 15px;
    float: right;
    margin-top: 5px;
}

.new-tweet h2 {
    border-bottom: 1px solid black;
}